* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 400px;
}

div.container {
    width: 400px;
}

#nonToxic {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5px;
    margin: 5px;
}

#checkToxicity {
    margin-bottom: 10px;
}

#copyBtn {
    cursor: pointer;
}